BODY {
  background-color:white;
  margin:0;
  padding:0;
}

.container 
{
  width:500px;
  margin:auto;
  background-color:#f8f8f8;
  padding:16px 16px 32px 16px;
  margin-top:32px;
  border:1px solid #999;
  font:11pt "lucida grande",tahoma,verdana,arial,sans-serif;
  border-radius:4px;
}

#kicker {
  margin-top:16px;
  width:782px;
  text-align:right;
  font:8pt Helvetica;
  color:#606060;
}
#kicker A {
  color:#606060;
}


#notinstalled {
    border:1px solid #999;
  -webkit-box-shadow: 4px 4px 4px #666666;
     -moz-box-shadow: 4px 4px 4px #666666;
          box-shadow: 4px 4px 4px #666666;
  padding:16px;
}


.button {
  display:inline-block;
  color:black;
  text-decoration:none;
  height: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  cursor: pointer;
  padding: 0 10px;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ddd));
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #ddd 100%);
}

.button:active {
  -webkit-box-shadow: 0 0 1px #666666 inset;
     -moz-box-shadow: 0 0 1px #666666 inset;
          box-shadow: 0 0 1px #666666 inset;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
  background-image: -moz-linear-gradient(center top , #eee 0%, #ccc 100%);
}

